* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-primary: #a5e93e;
  --bg-color: #0f172a;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: var(--bg-color);
}

header h1 {
  border-bottom: 8px solid var(--color-primary);
  padding: 2rem 0;
  margin: 1rem 0;
  color: #f1f5f9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.container:first-child {
  padding-top: 4rem;
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  margin-bottom: 2rem;

  background-color: #eee;
  border-radius: 0.8rem;
  overflow: hidden;
}

.quiz-item h3 {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  padding: 3rem;
  background-color: lightgray;
}

.quiz-item h3::before {
  counter-increment: quiz-item;
  content: counter(quiz-item);

  width: 28px;
  height: 28px;
  font-size: 1.4rem;
  border-radius: 0.5rem;

  background-color: #232e49;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item dl {
  padding: 1rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.quiz-item dt {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quiz-item input {
  all: unset;
  border: 2px solid lightgray;
  border-radius: 99px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item input:checked {
  border: 2px solid var(--color-primary);
}

.quiz-item input:checked:before {
  content: "";
  width: 10px;
  height: 10px;

  background-color: var(--color-primary);
  border-radius: 99px;
}

#score {
  background-color: var(--color-primary);
  width: 15rem;
  height: 15rem;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 3rem;
  right: 3rem;
}

#score h3 {
  font-weight: normal;
  font-size: 2rem;
}

#score span {
  font-size: 2.5rem;
  font-weight: bolder;
}
